#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: rgb(51, 19, 77);
color: beige;
}

.news-cards {

 display: flex;
 flex-wrap: wrap;
align-content: center;
width: 70%
}

.card {
  width: 30%;
  border-radius: 20%;
}

.card-body {
  background-color: rgb(173, 78, 16);
  color: rgb(167, 152, 202);
  border-radius: 5%;
}
.logo {
  border-radius: 50%;
}

.container-fluid {
  color: white ;
  display: flex;
  flex-direction: column ;

  align-items: center;
  justify-content: center;
}

.all-news-body {
  display: flex;
  flex-direction: column;

  width: 70%;
  text-align:justify;
}

img{
  border-radius: 20%;
  height: 100 px;
  
}

div {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.sorting {
padding: 10px;
}

.poetDetails, .editPoet, .imagePoetEdit, .genAllPoems, .poemDetails, .editPoem, .profile, .editProfile, .newPoem, .newPoet, .login, .singup, .editProfileImage {
  padding: 10px;
  display: flex;
  flex-direction: column ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.allPoems {
  display: flex;
  justify-content: center;

}

.imageEdit {
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  background-color: aliceblue;
}

.navbar {
 background-color: rgb(214, 182, 222);

}

#all-news {
  background-color: aliceblue;
 border-radius: 0%;
 color: rgb(78, 29, 123);
}

#all-poems {
  color: aliceblue;
}

input {
  background-color: rgb(215, 185, 237);
  color: rgb(69, 74, 155);
  text-decoration: solid;
}

/* .form-select {
  background-color: rgb(215, 185, 237);
  color: rgb(69, 74, 155);
  text-decoration: solid;
} */

.poemDetails {
  width: 50%
}